<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="text-center">
    <h2>事前学習済みDNNモデルを用いた動画分類アプリ</h2>

    <form action="/result" method="POST" enctype="multipart/form-data">
        <select name="select_video">
            {% for i in video_list %}
            <option>{{i}}</option>
            {% endfor %}
        </select>
        <div>
            <input type="submit" value="分類を行う">
        </div>
    </form>
</body>

</html>